<section id="main-log-form">
  <textarea placeholder="Log hogging!"></textarea>
  <input type="submit" value="Hog it" />
</section>

<section id="log-hogs">

<%= for log <- @logs do %>
  <div class="each-log">
    <%= log.body %>
  </div>
  <div class="log-meta">
    Meta
  </div>
<% end %>

</section>
