<section id="main-log-form">
  <%= render "form.html", Map.put(assigns, :action, Routes.log_path(@conn, :create)) %>
</section>

<section id="log-hogs">

<%= for log <- @logs do %>
  <div class="each-log">
    <%= log.body %>
  </div>
  <div class="log-meta">
    Meta
  </div>
<% end %>

</section>
